<template>
  <div class="content">
      <div class="tab">
          <div class="tab-title" v-for="(item,index) in tabList" :key='index' @click="tabEvent(index)">
            <div :class="currIndex == index?'active':''">{{item.title}}</div>
            <!-- <img v-if="currIndex == index" src="../../assets/line.png" alt=""> -->
          </div>
      </div>
      <div class="info">
          <h4>当前位置：首页 {{titleLogo}}</h4>
          <div class="detail" v-loading="loading" element-loading-text="拼命加载中">
            <div class="list" v-if="currList.length>0">
              <div v-if="currIndex == 1" class="listOne">
                 <div v-for="(item) in currList" :key='item.id' class="list" @click="detile(item.id)">
                    <div>{{item.title}}</div>
                    <span class="line"></span>
                    <span>{{item.createTime}}</span>
                 </div>
              </div>
              <div v-else class="listTwo">
                <div v-for="(item,index) in currList" :key='index' class="list">
                    <img :src="item.imgUrl" alt="">
                    <div>
                      <span>{{item.title}}</span>
                      <span @click="detile(item.id)">查看详情</span>
                    </div>
                </div>
              </div>
            </div>
            <div v-if="currList.length == 0 && !loading" style="line-height: 200px;">暂无数据</div>
          </div>
          <div class="paging" v-if="currList.length>0">
            <el-pagination
              small
              :hide-on-single-page="false"
              :pager-count='pagerCount'
              background
              layout="total,prev, pager, next"
              :page-size="limit"
              :total="total"
              @current-change="pageChange"
              ref="pagination">
            </el-pagination>
          </div>
      </div>
      
      <div class="notice">
        <img  class="top-img" src="../../assets/notice-2.png" alt="">
        <div class="list">
           <div v-for="(item,index) in infoList" :key="index" @click="detile(item.id,'common')">
            <span><img src="../../assets/lianjie-daotu.jpg" alt=""></span>
            <span>{{item.title}}</span>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
  import { commonApi,workList,educationList,practiceList } from '@/request/api'; // 导入我们的api接口
  export default {
    name: 'App',
    data(){
      return{
	    loading:true,
        currIndex:0,    // 列表类型
        limit:4,      //每页显示数量
        page:1,       //当前页码
        total:0,     //列表总数
        pagerCount:5,   //大于5页折叠
        titleLogo:'',
        tabList:[
          {id:0,title:'实践成果'},
          {id:1,title:'联合教学'},
          {id:2,title:'作品展示'},
        ],
        currList:[],
        infoList:[]
      }
    },
    methods: {
      init(){
        if(this.currIndex == 0){
          this.practice()
        }else if(this.currIndex == 1){
          this.education()
        }else if(this.currIndex == 2){
          this.work()
        }
        this.notice()
      },
      notice(){
        commonApi({
          page:1,
          limit:100,
          type:'web'
        }).then(res => {
          this.loading = false;
          this.infoList = res.data.records;
        })
      },
      //作品展示接口
      work(){
		    let that = this;
        let params = {
          limit:that.limit,
          page:that.page,
          type:'web'
        }
        workList(params).then(res => {
		  that.loading = false
          that.currList = res.data.records;
          that.total = res.data.total
          for (let index in that.currList) {
            let item = that.currList[index]
            item.imgUrl = window.baseUrl + '/file/getImgStream?idFile=' + item.img;
            item.createTime = item.createTime.substring(0,11)
          }
        })
      },
      //联合教育接口
      education(){
		    let that = this;
        let params = {
          limit:that.limit,
          page:that.page,
          type:'web'
        }
        educationList(params).then(res => {
		      that.loading = false
          that.currList = res.data.records;
          that.total = res.data.total
          for (let index in that.currList) {
            let item = that.currList[index]
            item.imgUrl = window.baseUrl + '/file/getImgStream?idFile=' + item.img;
            item.createTime = item.createTime.substring(0,11)
          }
        })
      },
      //实践成果接口
      practice(){
		    let that = this;
        let params = {
          limit:that.limit,
          page:that.page,
          type:'web'
        }
        practiceList(params).then(res => {
		      that.loading = false
          that.currList = res.data.records;
          that.total = res.data.total
          for (let index in that.currList) {
            let item = that.currList[index]
            item.imgUrl = window.baseUrl + '/file/getImgStream?idFile=' + item.img;
            item.createTime = item.createTime.substring(0,11)
          }
        })
      },
      pageChange(value){
		    this.loading = true
        this.page = value;
        this.init()
      },
      tabEvent(index){
        this.page = 1;
        this.currList = [];
        this.currIndex = index;
          // this.infoList.forEach((item)=>{
          //   if(item.index == index){
          //     this.currList = item.list;
          //   }
          // })
        if(index == 0 ){
          this.titleLogo = '>> 实践成果 '
        }else if(index == 1){
          this.titleLogo = '>> 联合教学 '
        }else{
          this.titleLogo = '>> 学生作品 '
        }
        //tab切换页码初始化
         if(!(this.currList.length == 0 && !this.loading)){
           this.$refs.pagination.internalCurrentPage = this.page;
         }
        
        this.pageChange(1)
      },
       //跳转详情
      detile(id,kind){
        let type = '';
        if(kind === 'common'){
          type = 'affiche';
        }else if(this.currIndex == 0){
          type = 'practice'
        }else if(this.currIndex == 1){
          type = 'education'
        }else{
          type = 'works'
        }
        this.$router.push({ path: '/workDetail', query: { id: id,type:type } })
      },
    },
    mounted() {
      this.currIndex = this.$route.query.index?this.$route.query.index:0;
       if(this.currIndex  == 0 ){
          this.titleLogo = '>> 实践成果 '
        }else if(this.currIndex  == 1){
          this.titleLogo = '>> 联合教学 '
        }else{
          this.titleLogo = '>> 学生作品 '
        }
      this.init()
    }
  }
</script>

<style scoped lang="less">
  .content{
    width: 85%;
    flex: 1;
    margin: 0 auto;
    display: flex;
    background: #fff;
  }
  .tab{
    width:120px;
    margin-top: 30px;
    margin-right: 50px;
    color: #262525;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    .tab-title{
      margin:20px 0;
      cursor:pointer;
      line-height: 35px;
      border-top-right-radius: 10px;
    }
    .active{
      color: #fff;
      margin-bottom: 10px;
      background: url(../../assets/bg-2.png);
       border-top-right-radius: 10px;
    }
  }
  .info{
    flex: 1;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    h4{
      text-align: left;
      color: #666;
    }
  }
  .notice{
      width: 280px;
      height: 250px;
      background: #fff;
      border-bottom: 2px solid #1B1B1B;
      font-size: 12px;
      color: #2F2C2C;
      margin-top: 30px;
      margin-left: 30px;
      .top-img{
        width: 100%;
      }
       .list{
        text-align: left;
        margin: 10px 20px;
        div{
          display: flex;
          margin-bottom: 12px;
          cursor:pointer;
        }
      }
     span{
       display: inline-block;
     }
      span:nth-child(1){
       margin-right: 10px;
       img{
         width: 15px;
         height: 2px;
         margin-bottom:2px;
       }
     }
     span:nth-child(2){
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
     }
     
    }
  .detail{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    flex: 1;
    margin-top: 40px;
    margin-left: 10px;
    .listTwo{
      display: flex;
      flex-wrap: wrap;
      
      .list{
        display: flex;
        width:220px;
        align-items: center;
        margin-top: 30px;
        border:1px solid #dbddde;
        outline:1px solid #dbddde;
        outline-offset:10px;
        padding:10px;
        img{
          box-sizing: border-box;
          width: 50%;
          height: 130px;
        }
        div{
          flex:1;
          display: flex;
          flex-direction: column;
          align-items: center;
          span:nth-child(1){
            color: #999;
            font-size: 16px;
          }
          span:nth-child(2){
            display: inline-block;
            background: #ddd;
            padding: 8px 10px;
            margin-top: 20px;
            cursor:pointer;
            font-size: 14px;
          }
        }
      }
      .list:nth-child(2n+1){
         margin-right: 50px;
      }
      .list:nth-child(1),.list:nth-child(2){
        margin-top: 0px;
      }
      // .list:nth-child(2n){
      //   margin-right: 30px;
      // }
    }
    .listOne{
      .list{
        display: flex;
        justify-content: space-between;
        line-height: 35px;
        align-items: center;
        margin-top:10px;
		cursor:pointer;
        .line{
          display: inline-block;
          border-bottom: 1px dashed #dbddde;
         flex: 1;
          height: 1px;
		  min-width: ;
          margin: 0 15px;
        }
        div{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
		  // width: 250px;
		  min-width: 200px;
        }
		span:nth-child(2){
		  display: inline-block;
		  width:120px;
		}
      }
    }

  }
   .el-carousel__item img {
    display: block;
    width: 100%;
    height: 100%;
  }
   .paging{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
</style>
<style lang="less">
  .paging .el-pagination.is-background .el-pager li:not(.disabled).active{
    background: #00b49f;
  }
</style>
