<template>
  <div class="content">
    <h1>{{detail.title}}</h1>
    <div><span class="author">{{detail.author}}</span> {{detail.createTime}}</div>
    <div class="detail" v-html="detail.content"></div>
  </div>
</template>

<script>

  import { detailsApi } from '@/request/api'; // 导入我们的api接口
  export default {
    name: 'App',
    data(){
      return{
        detail:{}
      }
    },
    methods: {
      init(id,type){
        let params = {
          id:id,
          type:type
        }
        detailsApi(params).then(res => {
          this.detail = res.data;
        })
      }
    },
    mounted() {
      let id = this.$route.query.id;
      let type = this.$route.query.type;
      console.log(type,'type')
      this.init(id,type)
    }
  }
</script>

<style scoped lang="less">
  .content{
    width: 85%;
    flex: 1;
    margin: 0 auto;
    background: #fff;
  }
  .author{
    margin-right: 20px;
  }
  .detail{
    width:60%;
    margin: 0 auto;
    text-align: left;
  }

</style>
