<template>
  <div class="footer" :style="{width:widthNum}">
    <!-- <div style="display: flex;align-items: center;margin-bottom: 30px;">
      <div class="left">
        <div class="link">
          <div><a href="zysz2.htm"><img src="../assets/zhuanyelianjie.jpg" alt="" width="236" height='21'></a></div>
          <div><a href="zysz1.htm"><img src="../assets/yuanxiaolianjie.jpg" alt=""  width="360" height='21'></a></div>
        </div>
        <div class="link-list">
          <div class="info" v-for="(item,index) in linkList" :key='index'>
			<a :href="item.url" target="_blank" >{{item.name}}</a>
          </div>
        </div>
      </div>
      <div class="right">
          <button @click="messege"><img src="../assets/letter.png" alt="">私信我们</button>
      </div>
    </div> -->
    <div class="copyright">版权声明:西安美术学院建筑环境艺术系版权所有</div>
    <div class="copyright adress">地址：西安市雁塔区含光路南段100号 西安美术学院 邮编：710065 | 电话：029-88214584</div>
  </div>
</template>

<script>
  export default {
    name: 'App',
    data(){
      return{
        linkList:[
          {url:'info/1041/1394.htm',name:'风景园林专业'},
          {url:'info/1041/1393.htm',name:'建筑艺术设计专业'},
          {url:'http://guohua.xafa.edu.cn/',name:'中国画系'},
          {url:'http://youhua.xafa.edu.cn/',name:'油画系'},
          {url:'info/1041/1392.htm',name:'景观设计教研室'},
          {url:'info/1041/1391.htm',name:'建筑环境艺术系室'},
          {url:'http://banhua.xafa.edu.cn/',name:'版画系'},
          {url:'http://diaosu.xafa.edu.cn/',name:'雕塑系'},
          {url:'http://diaosu.xafa.edu.cn/',name:'雕塑'},
          {url:'http://zaoxing.xafa.edu.cn/',name:'艺术教育'},
          {url:'http://zhuangshi.xafa.edu.cn/',name:'工艺美术系'},
          {url:'http://sheji.xafa.edu.cn/',name:'设计系'}
        ],
        widthNum:"83%"
        // linkList:["风景园林专业","建筑艺术设计专业","中国画系","油画系","景观设计教研室","建筑环境艺术系室","版画系","雕塑系","雕塑","艺术教育","工艺美术系","设计系"]
      }
    },
    methods: {
		messege(){
			this.$router.push({ path: '/message'})
		}
	},
    mounted() {

    },
       watch:{
        $route:{
            handler(newRouter){
              if(this.$route.path == '/'){
                this.widthNum = '83%';
              }else{
                this.widthNum = '85%';
              }
            },
            immediate: true
        }
    },
  }
</script>

<style lang="less" scoped>
  .footer{
    // height: 200px;
    margin: 0 auto;
    background: #fff;
    padding-top: 40px;
  }
  .left{
    flex: 1;
  }
  .right{
     width: 25%;
     button{
       margin:50px auto 0;
       width: 150px;
       line-height: 35px;
       background: #00b49f;
       color: #fff;
       border-radius: 18px;
       border: none;
       display: flex;
       align-items: center;
       justify-content: center;
       outline:none;
	   cursor:pointer;
       img{
         margin-right: 5px;
       }
     }
  }
  .link{
    display: flex;
    font-size: 20px;
    color: #736d6d;
    margin-bottom: 20px;
    justify-content: space-between;
	div:nth-child(1){
		display: inline-block;
		width: 236px;
		height: 21px;
	}
	div:nth-child(2){
		display: inline-block;
		width: 360px;
		height: 21px;
	}
  }
  a{
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
	  color: #898989;
   }
   a:hover {
     color: #898989;
  }
  .link-list{
    display: flex;
    flex-wrap: wrap;
    .info{
      display: flex;
	  cursor:pointer;
	  justify-content: start;
	  padding-left: 30px;
	  width: 120px;
	  background: url(../assets/lianjie-daotu.jpg) no-repeat 5px 8px;
	  height: 20px;
	  line-height: 20px;
	  overflow: hidden;
	  a:hover {
	      color: #898989;
	  }
    }
  }
  .copyright{
	width: 500px;
	margin: 0 auto;
    text-align: center;
    color: #312d2d;
    line-height:17px;
	font-size: 12px;
  }
  .adress{
	  border-bottom: 5px solid #00b49f;
  }
  @media screen and (width: 768px) {
      link {
          flex-direction: column;
      }
  }

</style>
