<template>
  <div class="header">
    <div class="tab-title">
      <div class="logo">
        <img src="../assets/logo-1.png">
      </div>
      
       <div class="nav">
         <div class="nav-title">
            <div :class="currIndex == index?'active':''" v-for="(item,index) in navList" @click="navChange(item.route,index)" :key='index'>
              <div class="name"><span>{{item.name}}</span></div>
            </div>
         </div>
         <div class="nav-bottom">
           <div :class="currIndex == index?'activeEnglish':''" v-for="(item,index) in navList" @click="navChange(item.route,index)" :key='index'>
              <div class="name">{{item.english?item.english:''}}</div>
            </div>
         </div>
          <!-- <div class='nav-title' :class="currIndex == index?'active':''" v-for="(item,index) in navList" @click="navChange(item.route,index)" :key='index'>
            <div class="name"><span>{{item.name}}</span></div>
            <div class="engglis-name">{{item.english?item.english:''}}</div>
          </div> -->
       </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'App',
    data(){
      return{
        navList:[
          {name:'系部首页',route:"http://huanyi.xafa.edu.cn/",english:'department'},
          {name:'首页',route:"/",english:'index'},
          {name:'创新',route:"/innovation",english:'innovation'},
          {name:'创业',route:"/entrepreneurship",english:'entrepreneurship'},
          {name:'项目托管',route:"/message",english:''}
        ],
        currIndex:1,
        isShow:true
      }
    },
    methods: {
      navChange(path,index){
        if(index == 0){
          window.open(path,'_blank')
          return
        }
        this.currIndex = index;
        this.$router.push({ path:path})
      }
    },
    mounted() {},
    watch:{
        $route:{
            handler(newRouter){
               console.log(this.$route.path,"this.$route.path")
               if(this.$route.path == '/innovation'){
                 this.currIndex = 2;
               }
              if(this.$route.path == '/'){
                this.currIndex = 1;
              }
               if(this.$route.path == '/entrepreneurship'){
                  this.currIndex = 3;
               }
               if(this.$route.path == '/message'){
				          this.currIndex = 4;
               }
               if(this.$route.path == '/workDetail'){
				          // this.currIndex = -1;
               }
            },
            immediate: true
        }
    },
  }
</script>

<style lang="less" scoped>
  .tab-title{
    width: 85%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: #fff;
    box-sizing: border-box;
    margin:0 auto;
    color: #fff;
  }

  .logo{
    display: flex;
    align-items: center;
  }
  .nav{
    flex: 1;
    color: #fff;
    .nav-title{
      font-size: 18px;
      display: flex;
      line-height: 62px;
      justify-content: center;
      background: #213D50;
      cursor:pointer;
      div{
        width: 120px;
      }
      div:nth-child(2) span{
        padding-bottom: 7px;
        box-sizing: border-box;
        border-bottom: 3px solid #fff;
      }
    }
    .nav-bottom{
      font-size: 12px;
       display: flex;
      justify-content: center;
      background: #CACACA;
      div{
        width: 120px;
      }
    }
    .activeEnglish{
      background: #FFB700;
    }
    .active{
      background: #00B4A1;
      color: #fff;
    }
  }
</style>

