<template>
   <div class="content message">
     <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="150px" class="demo-ruleForm">
      <el-form-item label="项目名称" prop="title">
        <el-input v-model="ruleForm.title" placeholder="请输入问题内容"></el-input>
      </el-form-item>
      <el-form-item label="项目委托内容描述" prop="content">
        <el-input :rows="6" type="textarea" v-model="ruleForm.content" placeholder="请输入项目委托内容描述"></el-input>
      </el-form-item>
      <el-form-item label="项目地址" prop="address">
        <el-input v-model="ruleForm.address"></el-input>
      </el-form-item>
      <el-form-item label="委托单位/联系人" prop="person">
        <el-input v-model="ruleForm.person"></el-input>
      </el-form-item>
      <el-form-item label="联系电话" prop="telephone">
        <el-input v-model.number="ruleForm.telephone"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm(ruleForm)">提交</el-button>
      </el-form-item>
    </el-form>
   </div>
</template>

<script>
  import { messageApi } from '@/request/api'; // 导入我们的api接口
  export default {
    name: 'App',
    data(){
      return{
        id:'',
        ruleForm: {
          title:'',
          content: '',
          address:'',
          person: '',
          telephone: ''
        },
        rules: {
          content:  [
            { required: true, message: '请填写问题内容', trigger: 'blur' }
          ],
          telephone:[
            {
              required: true,
              validator:  (rule, value, callback) => {
                if(!value){
                  callback(new Error('联系电话不能为空'));
                }else if(!(/^1[3456789]\d{9}$/.test(value))){
                  callback(new Error('请输入正确的手机号'));
                } else {
                  callback();
                }
            },
             trigger: 'blur'
            }
          ],
        }
      }
    },
    methods: {
      submitForm(params){
        this.$refs['ruleForm'].validate((valid) => {
              if (valid) {
                messageApi(params).then(res => {
                  if(res.success){
                    this.$message('私信成功');
                  }
                  this.$refs['ruleForm'].resetFields();
                })
              } else {
                console.log('error submit!!');
                return;
              }
            });

      }
    },
    mounted() {

    }
  }
</script>

<style scoped lang="less">
  .content{
    width: 85%;
    flex: 1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding-top: 50px;
    box-sizing: border-box;
  }
  .el-form{
    width: 700px;
  }



</style>
<style lang="less">
.message {
   .el-form-item{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .el-form-item__content{
    margin-left: 20px!important;
    flex: 1;
  }
  .el-input__inner,.el-textarea,.el-textarea__inner {
    background-color: #eee!important;    //红色
    border: none;
  }
  .el-input{
    width: 200px;
    float: left;
  }
  .el-button--primary{
    width: 150px;
    border-radius: 20px;
    background: #00b49f;
    border: none;
    float: left;
    margin-left: 100px;
  }
}
</style>
