<template>
  <div class="home">
     <div class="top">
       <el-carousel ref='carousel' trigger="click" height="300px" @click.native="linkTo()">
         <el-carousel-item v-for="item in imgList" :key="item.id">
           <img :src="item.img" alt="">
         </el-carousel-item>
       </el-carousel>
     </div>
    <div class="section">
      <div class="notice">
        <img  class="top-img" src="../../assets/notice-2.png" alt="">
        <div class="list">
           <div v-for="(item,index) in infoList" :key="index" @click="detile(item.id)">
            <span><img src="../../assets/lianjie-daotu.jpg" alt=""></span>
            <span>{{item.title}}</span>
          </div>
        </div>

      </div>
      <div class="innovation">
        <img class="top-img" src="../../assets/innovation-2.png" alt="">
        <div class="list">
           <div v-for="(item,index) in innovationList" :key="index" @click="event(index,2)">
            <span><img src="../../assets/lianjie-daotu.jpg" alt=""></span>
            <span>{{item}}</span>
          </div>
        </div>

      </div>
      <div class="entrepreneurship">
        <img class="top-img" src="../../assets/entrepreneurship-2.png" alt="">
        <div class="list">
          <div v-for="(item,index) in entrepreneurshipList" :key="index" @click="event(index,3)">
            <span><img src="../../assets/lianjie-daotu.jpg" alt=""></span>
            <span>{{item}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import { commonApi,imgList } from '@/request/api'; // 导入我们的api接口
  export default {
    name: 'App',
    data(){
      return{
		loading:true,
        month:5,
        pagerCount:5,
        imgList:[],
        infoList:[],
        entrepreneurshipList:['创业流程','企业合作','地方服务'],
        innovationList:['实践成果','联合教学','作品展示']
      }
    },
    methods: {
      init(){
        let that = this;
        imgList({
              page:1,
              limit:6,
              type:'web'
            }).then(res => {
              this.imgList = res.data.records;
              for (var index in this.imgList) {
                let item = this.imgList[index]
                item.img = window.baseUrl + '/file/getImgStream?idFile=' + item.idFile;
              }
            })
        commonApi({
          page:1,
          limit:100,
          type:'web'
        }).then(res => {
            that.loading = false;
            that.infoList = res.data.records;
            })
      },
      //公告信息点击事件跳转详情
      detile(id){
        this.$router.push({ path: '/workDetail', query: { id: id,type:'affiche' } })
      },
      linkTo () {
        let activeIndex = this.$refs.carousel.activeIndex
        console.log(activeIndex,'activeIndex')
        this.$router.push({ path: '/workDetail', query: { id: this.imgList[activeIndex].id,type:'banner' } })
      },
      event(index,num){
        let path = '/innovation';
        let type = ''
         if(num == 2){
           path = '/innovation';
         }else{
           path = '/entrepreneurship';
         }
         this.$router.push({ path:path,query: { index:index}})
      }
    },
    mounted() {
      this.init()
    }
  }
</script>

<style scoped lang="less">
  .home{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
  }
  .top{
    width: 85%;
    height: 300px;
    margin: 0 auto;
    cursor:pointer;
    background: #fff;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .section{
    width: 83%;
    flex: 1;
    background: #fff;
    margin: 0 auto;
    position: relative;
    // margin-bottom: 15px;
    .notice,.innovation,.entrepreneurship{
      float: left;
      width: 280px;
      height: 250px;
      background: #4B6170;
      border-bottom: 2px solid #1B1B1B;
      font-size: 12px;
      color: #fff;
      .top-img{
        width: 100%;
      }
       .list{
        text-align: left;
        margin: 10px 20px;
        div{
          display: flex;
          margin-bottom: 12px;
          cursor:pointer;
        }
      }
     span{
       display: inline-block;
     }
      span:nth-child(1){
       margin-right: 10px;
       img{
         width: 15px;
         height: 2px;
         margin-bottom:2px;
       }
     }
     span:nth-child(2){
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
     }
    }
    .innovation{
      background: #FCFCFC;
       margin-left: 0px;
       color:#ABABAB;
       .list{
        div{
          margin-bottom: 15px;
        }
      }
    }
    .entrepreneurship{
      position: absolute;
      width:380px;
      height: 160px;
      top: -65px;
      right:0;
      z-index: 2;
      color:#898989;
       background: #fff;
       
      .list{
        div{
          margin-bottom: 15px;
        }
        span:nth-child(2){
          margin-left: 30px;
        }
      }
    }
  }
  .el-carousel__item img {
    display: block;
    width: 100%;
    height: 100%;
  }
</style>
<style lang="less">
  // .top .el-carousel__button{
  //     background-color: #00b49f;
  // }
  // .top .button{
  //   background-color: #fff;
  // }


  .home{
		.el-carousel__indicators--horizontal{
			// left: 65%;
		}
		.top .el-carousel__button{
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #fff;
		}
		.el-carousel__indicator.is-active button{
			background: #00b49f;
		}
		.el-carousel__button{
			opacity: 1;
		}
	}
</style>

