<template>
  <div id="app">
    <Head></Head>
    <!-- <img src="./assets/logo.png"> -->
      <router-view/>
    <Foot></Foot>
  </div>
</template>

<script>
 import Head from '@/components/header'
 import Foot from '@/components/footer'
export default {
  name: 'App',
   data(){
    return{}
  },
  components:{Head,Foot},
  methods: {},
  mounted() {

  }
}
</script>

<style lang="less">
#app {
  // width: 100%;
  width: 1208px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0px;
  margin: 0 auto;
  display: flex;
  background: url(./assets/bg-1.png);
   background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  justify-content: space-between;
  // background: #f0f0f0;
  /* margin-top: 60px; */
}
</style>
