<template>
  <div class="content">
      <div class="tab">
          <div class="tab-title" v-for="(item,index) in tabList" :key='index' @click="tabEvent(index)">
            <div :class="currIndex == index?'active':''">{{item.title}}</div>
            <!-- <img v-if="currIndex == index" src="../../assets/line.png" alt=""> -->
          </div>
      </div>
      <div class="info">
          <h4>当前位置：首页 {{titleLogo}}</h4>
          <div class="detail" v-loading="loading" element-loading-text="拼命加载中">
            <div class="list-content" v-if="currList.length > 0 || detail.content">
              <div v-if="currIndex == 0" class="describ">
                 <h2>{{detail.title}}</h2>
                 <h3 v-if="detail.author">作者：{{detail.author}}</h3>
                 <div v-html="detail.content"></div>
              </div>
              <div class="place-list" v-else >
                <div v-for="(item,index) in currList" :key='index' class="list">
                    <img :src="item.imgUrl" alt="">
                    <div>
                      <span>{{item.title}}</span>
                      <span @click="detile(item.id)">查看详情</span>
                    </div>
                </div>
              </div>
            </div>
			      <div v-if="(currList.length == 0 && !detail.content) && !loading" class="nodata">暂无数据</div>
          </div>
          <div class="paging" v-show="currIndex != 0 && currList.length > 0">
            <el-pagination
              small
              :hide-on-single-page="false"
              :pager-count='pagerCount'
              background
              layout="total,prev, pager, next"
              :page-size="limit"
              :total="total"
              @current-change="pageChange"
              ref="pagination">
            </el-pagination>
          </div>
      </div>
      <div class="notice">
        <img class="top-img" src="../../assets/notice-2.png" alt="">
        <div class="list">
           <div v-for="(item,index) in infoList" :key="index" @click="detile(item.id,'common')">
            <span><img src="../../assets/lianjie-daotu.jpg" alt=""></span>
            <span>{{item.title}}</span>
          </div>
        </div>
      </div>
      
  </div>
</template>

<script>
  import { commonApi,flowList,cooperationList,servicesList } from '@/request/api'; // 导入我们的api接口
  export default {
    name: 'App',
    data(){
      return{
		loading:true,
        currIndex:0,
        limit:4,   //一页显示条数
        page:1,    //当前页码
        total:0,     //列表总数
        pagerCount:5,   //大于5页折叠
        titleLogo:'>> 创业流程 ',
        detail:{},
        tabList:[
          {id:0,title:'创业流程'},
          {id:1,title:'企业合作'},
          {id:2,title:'地方服务'},
        ],
        currList:[],
        infoList:[]
      }
    },
    methods: {
     init(){
       if(this.currIndex == 0){
         this.flow()
       }else if(this.currIndex == 1){
         this.cooperation()
       }else if(this.currIndex == 2){
         this.services()
       }
        this.notice()
     },
      notice(){
        commonApi({
          page:1,
          limit:100,
          type:'web'
        }).then(res => {
          this.loading = false;
          this.infoList = res.data.records;
        })
      },
     //创业流程接口
     flow(){
      let that = this;
      
       let params = {
         limit:1,
         page:1,
         type:'web'
       }
       flowList(params).then(res => {
         that.loading = false
         if(res.data.records.length > 0){
            that.detail = res.data.records[0];
         }else{
           that.detail = '';
         }
         
       })
     },
     //创业合作接口
     cooperation(){
	   let that = this;
       let params = {
         limit:this.limit,
         page:this.page,
         type:'web'
       }
       cooperationList(params).then(res => {
         if(res.data.records){
		   that.loading = false
           that.currList = res.data.records;
           that.total = res.data.total
           for (var index in that.currList) {
             let item = that.currList[index]
             item.imgUrl = window.baseUrl + '/file/getImgStream?idFile=' + item.img;
             item.createTime = item.createTime.substring(0,11)
           }
         }
       })
     },
     //地方服务接口
     services(){
	   let that = this;
       let params = {
         limit:that.limit,
         page:that.page,
         type:'web'
       }
       servicesList(params).then(res => {
         if(res.data.records){
		   that.loading = false
           that.currList = res.data.records;
           that.total = res.data.total
           for (var index in that.currList) {
             let item = that.currList[index]
             item.imgUrl = window.baseUrl + '/file/getImgStream?idFile=' + item.img;
             item.createTime = item.createTime.substring(0,11)
           }
         }
       })
     },
      pageChange(value){
		this.loading = true
        this.page = value;
        this.init()
      },
      tabEvent(index){
        this.page = 1;
        this.currList = [];
        this.currIndex = index;
        // if(this.currIndex != 0){
        //   this.infoList.forEach((item)=>{
        //     if(item.index == index){
        //       this.currList = item.list;
        //     }
        //   })
        // }

        if(index == 0 ){
          this.titleLogo = '>> 创业流程 '
          this.detail = {}
        }else if(index == 1){
          this.titleLogo = '>> 企业合作 '
        }else{
          this.titleLogo = '>> 地方服务 '
        }
        //tab切换页码初始化
        if(!((this.currList.length == 0 && !this.detail.content) && !this.loading)){
           this.$refs.pagination.internalCurrentPage = this.page;
        }
        this.pageChange(1)
      },
       //跳转详情
      detile(id,kind){
        let type = '';
        if(kind === 'common'){
           type = 'affiche';
        }else if(this.currIndex == 1){
            type = 'cooperation';
          }else{
            type = 'services';
          }
        this.$router.push({ path: '/workDetail', query: { id: id,type:type} })
      },
    },
    mounted() {
      this.currIndex = this.$route.query.index?this.$route.query.index:0;
      this.init()
    }
  }
</script>

<style scoped lang="less">
  .content{
    width: 85%;
    flex: 1;
    margin: 0 auto;
    display: flex;
    background: #fff;
  }
  .tab{
    width:120px;
    margin-top: 30px;
    margin-right: 50px;
    color: #262525;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
     .tab-title{
      margin:20px 0;
      cursor:pointer;
      line-height: 35px;
      border-top-right-radius: 10px;
    }
    .active{
      color: #fff;
      margin-bottom: 10px;
      background: url(../../assets/bg-2.png);
       border-top-right-radius: 10px;
    }
  }
  .info{
    flex: 1;
    margin-top: 30px;
    // margin-right: 20px;
    display: flex;
    flex-direction: column;
    h4{
      text-align: left;
      color: #666;
    }
  }
   .notice{
      width: 280px;
      height: 250px;
      background: #fff;
      border-bottom: 2px solid #1B1B1B;
      font-size: 12px;
      color: #2F2C2C;
      margin-top: 30px;
      margin-left: 30px;
      .top-img{
        width: 100%;
      }
       .list{
        text-align: left;
        margin: 10px 20px;
        div{
          display: flex;
          margin-bottom: 12px;
          cursor:pointer;
        }
      }
     span{
       display: inline-block;
     }
      span:nth-child(1){
       margin-right: 10px;
       img{
         width: 15px;
         height: 2px;
         margin-bottom:2px;
       }
     }
     span:nth-child(2){
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
     }
    }
   .detail{
     flex: 1;
     .list-content{
       margin-top: 40px;
      //  margin-left: 30px;
     }
     .nodata{
       margin-top: 130px;
     }
     .place-list{
        display: flex;
       flex-wrap: wrap;
     }
    .list{
      display: flex;
       width:220px;
      align-items: center;
      margin-top: 30px;
      border:1px solid #dbddde;
      outline:1px solid #dbddde;
      outline-offset:10px;
      padding:10px;
      img{
        box-sizing: border-box;
        width: 50%;
        height: 130px;
      }
      div{
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        span:nth-child(1){
          color: #999;
          font-size: 16px;
          text-overflow: -o-ellipsis-lastline;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          padding: 0 10px;
          box-sizing: border-box;
        }
        span:nth-child(2){
          display: inline-block;
          background: #ddd;
          padding: 8px 10px;
          margin-top: 20px;
          cursor:pointer;
           font-size: 14px;
        }
      }
    }
    .list:nth-child(2n+1){
         margin-right: 50px;
      }
    .list:nth-child(1),.list:nth-child(2){
      margin-top: 0px;
    }
  }
  .describ h2{
    text-align: center;
  }
   .el-carousel__item img {
    display: block;
    // width: 100%;
    // height: 100%;
  }
   .paging{
    display: flex;
   justify-content: flex-start;
    margin-top: 20px;
  }
</style>
<style lang="less">
  .paging .el-pagination.is-background .el-pager li:not(.disabled).active{
    background: #00b49f;
  }
</style>
